{% extends 'templates/_document.twig' %}

{% block content %}
    <div class="PageHeader">
        <div class="siteWidth">
            {% if title %}
                <h1>
                    {{ title }}
                </h1>
            {% endif %}
        </div>
    </div>
    <section class="PageContent Shop siteWidth">
        <div class="Shop__Main">
            {% if featured %}
                {{
                    renderComponent(
                        'CardProductFeature',
                        {
                            post: featured
                        }
                    )
                }}
            {% endif %}
            {% do action('woocommerce_before_main_content') %}

            <div class="before-shop-loop">
                {% do action('woocommerce_before_shop_loop') %}
            </div>

            {% for term in productTerms %}
                <h2 class="Shop--category">
                    {{ term.name }}
                </h2>
                <div class="Shop--products">
                    {% for post in term.products %}
                        {{
                            renderComponent(
                                'CardProduct',
                                {
                                    post: post
                                }
                            )
                        }}
                    {% endfor %}
                </div>
            {% endfor %}

            {% do action('woocommerce_after_shop_loop') %}
            {% do action('woocommerce_after_main_content') %}
        </div>
        <aside class="Shop__Sidebar">
            {{ sidebar }}
        </aside>
    </section>
{% endblock %}
