<ul class="menu menu--level-{{ level }}">
  {% for item in items %}
    <li class="{{ item.classes | join(' ') }}">
      {% if item.link %}
        <a class="menu-link" href="{{ item.link }}"{% if item.target %} target="{{ item.target }}"{% endif %}>{{ item.title }}</a>
      {% else %}
        <span class="menu-link">{{ item.title }}</span>
      {% endif %}
      {% if item.get_children and level + 1 <= maxLevel %}
            {% include 'Partials/_menu.twig' with { 'items': item.get_children, 'level': level + 1, 'maxLevel': maxLevel } only %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
