<!DOCTYPE html>
<html class="html {{ body_class }}" {{ site.language_attributes }}>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="alternate"
            type="application/rss+xml"
            title="{{ site.title }} {{ __('Feed', 'joi') }}"
            href="{{ site.rss2|e('esc_url') }}" />
        {{ function('wp_head') }}
    </head>
    <body>
        <a href="#mainContent" class="skipLink">{{ __('Skip to main content', 'joi') }}</a>
        {% block layout %}
            <div class="pageWrapper">
                {{ renderComponent('Header') }}
                <main id="mainContent" class="mainContent" aria-label="{{ __('Content', 'joi') }}">
                    {% if function('post_password_required') %}
                        {{ function('get_the_password_form') }}
                    {% else %}
                        {% block content %}
                            No <code>{{ '{% block content %}' }}</code> defined for this template.
                        {% endblock %}
                    {% endif %}
                </main>
                {{ renderComponent('Footer') }}
            </div>
        {% endblock %}
        <div class="wpFooter">
            {{ function('wp_footer') }}
        </div>
        {{ renderComponent('CookieNotice') }}
    </body>
</html>
